/* Genaral styling */
* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    margin: 0;
}

h1 {
    color: gold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
}

.center {
    text-align: center;
}

footer {
    padding: 2%;
    color: red;
}

/* Header section */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: white;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

li a:hover {
/*background-color:#005D47;*/
color: red;
}

/* Logo */
.header-logo {
width: 3.2%;
}

#logo {
width: 100%;
height: auto;
}

/* Main section */
main {
    display: flex;
    flex-direction: column;
    background-color: #005D47;
}

/* Home */
.home-text { 
    padding: 10px;
    color: beige;
    width: 100%;
}

/* Gallery */
.gallery-section {
    padding: 10px;
}

/* Gallery section 1 */
.gallery-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    padding: 20px;
    background-color: #D8B56D;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 0 rgb(255, 0, 0, 0.5);
    width: 55%;
    margin: 0% auto;

    gap: 20px;
}

.card {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: auto;
    height: 320px;
    transition: transform 0.2s ease-in-out;
    background-color: white;
}

.card-image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.card:hover .card-image {
    transform: scale(1.1);
}

.card-description {
    padding: 2px 16px;
    background-color: white;
    position: relative;
    z-index: 1;

    overflow: hidden;
}
/* End Gallery section 1 */

/* Gallery section 2 */
.gallery-section2 {
    color: beige;
    padding: 20px;
    width: 55%;
    margin: 0px auto;
    
    display: flex;
    flex-direction: column;
}

.cameroonimage-video {
    width: 100%;
    height: auto;
}

.video {
    padding-top: 10px;
    padding-bottom: 20px;
}
/* End Gallery section 2 */

/* Contact */
.contact-section {
    padding: 10px;
}

.contact-container {
    margin: 0px auto;
    width: 55%;
    padding: 20px;
}

.contact-container h2 {
    text-align: center;
    color: beige;
}

form {
    padding: 20px;
    background-color: #ACE1AF;
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    /* font-family: Perpetua, Rockwell Extra Bold; */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.submit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.terms a {
    text-decoration: none;
    color: black;
}

.terms:hover a {
    text-decoration: underline;
    color: red;
}

