/* Setting properties for the text in the page */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

h1, h2, h3 {
    color: green;
    font-family: 'Open Sans', sans-serif;
}

/* Setting properties for the inputs */
.info {
    border: 1px solid black;
    width: 60%;
    margin: 0px auto;
}

.info form {
    border: 1px solid red;
    width: 70%;
    margin: 2% auto;
}

.info input[type="text"] {
    width: 80%;
    margin: 10px 55px;
    border: 2px solid black;
    border-radius: 7px;
    background: gray;
    color: #fff;
}