/* Genaral styling */
* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    margin: 0;
}

h1 {
    color: gold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
}

.center {
    text-align: center;
}

footer {
    padding: 2%;
    color: red;
}

/* Header section */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: white;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

li a:hover {
color: red;
}

/* Logo */
.header-logo {
width: 3.2%;
}

#logo {
width: 100%;
height: auto;
}

/* Main section */
main {
    display: flex;
    flex-direction: column;
    background-color: #005D47;
}

/* Home */
.home-text { 
    padding: 10px;
    color: beige;
    width: 100%;
}

/* Gallery */
.gallery-section {
    padding: 10px;
}

/* Gallery section 1 */
.gallery-section1 > .card {
    padding: 0 8px;
}
  
.gallery-section1::after {
content: "";
display: table;
clear: both;
}
  
.card {
float: left;
width: 25%;
}
  
/* The Modal (background) */
.modal {
display: none;
position: fixed;
z-index: 3;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: black;
}
  
/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
width: 90%;
max-width: 1200px;
}
  
/* The Close Button */
.close {
color: white;
position: absolute;
top: 10px;
right: 25px;
font-size: 35px;
font-weight: bold;
}
  
.close:hover,
.close:focus {
color: #999;
text-decoration: none;
cursor: pointer;
}
  
.mySlides {
display: none;
}
  
.cursor {
cursor: pointer;
}
  
/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}
  
img {
margin-bottom: -4px;
}
  
.caption-container {
text-align: center;
background-color: black;
padding: 2px 16px;
color: white;
}
  
.demo {
opacity: 0.6;
}
  
.active,
.demo:hover {
opacity: 1;
}
  
img.card-image {
transition: 0.3s;
}
  
.card-image:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* End Gallery section 1 */

/* Gallery section 2 */
.gallery-section2 {
    color: beige;
    padding: 20px;
    width: 55%;
    margin: 0px auto;
    
    display: flex;
    flex-direction: column;
}

.cameroonimage-video {
    width: 100%;
    height: auto;
}

.video {
    padding-top: 10px;
    padding-bottom: 20px;
}
/* End Gallery section 2 */

/* Contact */
.contact-section {
    padding: 10px;
}

.contact-container {
    margin: 0px auto;
    width: 55%;
    padding: 20px;
}

.contact-container h2 {
    text-align: center;
    color: beige;
}

form {
    padding: 20px;
    background-color: #ACE1AF;
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.submit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.terms a {
    text-decoration: none;
    color: black;
}

.terms:hover a {
    text-decoration: underline;
    color: red;
}

